/* Google font import. Lato. */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');
/* Google font import. Oswald. */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Lato font classes using only the 300 weight variants */
.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}

/* Asterisk wildcard selector to ovveride default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    /* Generic project styles */
    color: #3a3a3a;
}

/* Header */
header {
    background-color: lightcoral;
    font-family: 'Oswald', sans-serif;
}

/* Main */
main {
    background-color: lightblue;

    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: orange;
}